<?xml version="1.0" encoding="UTF-8"?>
<acceptors>
    <acceptor port="19996" consoleEncoding="UTF-8" type="http">
        <filters>
            <filter name="testFilter" url-pattern="/test/*" ref="org.wc.tinycat.protocol.HttpFilterTest"/>
        </filters>
        <handler ref="org.wc.webserver.protocol.http.DefaultHttpHandler"/>
    </acceptor>

</acceptors>
